@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Regular.ttf')
}

@font-face {
	font-family: 'Roboto-bold';
	src: url('fonts/Roboto/Roboto-Bold.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p, h1, h2, h3, h4, span {
	font-family: Roboto;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* icon */

.icon{
	width: 80px;
    height: 80px;
  	border-radius: 50%; 
	background-color: #8ebb63;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

.icon img{
	min-width: 80%;
	max-width: 80%;
}

h2{
	font-weight: 900;
	text-transform: uppercase;
	font-size: 6vw;
	/* Mettre la roboto-bold */
}
/* -> Permet d'éviter la répétition. */

/*bg-cadrillage*/
.introduction {
	background-image: linear-gradient(#EDECE1 3px, transparent 2px),
	linear-gradient(90deg, #EDECE1 3px, transparent 2px);
    background-size: 25px 25px;
	background-color: #F7F6EB;
    /* width: 100%; */
	/* 89% mobile / 100% PC ? */

    /* padding: 20px; */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	/* padding: 4%; */
	padding: 0;
	gap: 10px;
}

.introduction .setting{
	display: flex;
    /* position: absolute; */
    position: relative;
    justify-content: flex-end;
}
/* .introduction .setting img{
	min-width: 20vw;
	max-width: 20vw;
	position: absolute;
} */

.introduction .setting .paper{
	min-width: 40vw;
	max-width: 40vw;
	position: absolute;
}

.introduction .setting .crayon{
	position: absolute;
	z-index: 1;
	min-width: 12vw;
    max-width: 12vw;
    right: 6%;
}

.introduction .btm-content {
	display: flex;
	flex-direction: column;
	/* row en version tablette/pc */
	padding: 10% 5% 5% 4%;
	gap: 15px;
}

.introduction .title{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.introduction .title .w-design-p{
	font-family: "Roboto-bold";
	font-size: 13vw;
    font-weight: 900;
    text-transform: uppercase;
	/* text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); */
}

.introduction .title .w-design-p span{
	font-weight: 900;
    font-size: 21vw;
}
/* faire en sorte que p + span restent bien allignés et prennent la place qu'ils doivent prendre sans dépasser. */

.introduction .title .rounded-txt{
	/* display: flex;
	align-items: center;
	justify-content: center;
	padding: 3%;
	background-color: #505bb2;
	border-radius: 5%; */

	background-color: #505bb2;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
}

.introduction .title .rounded-txt p{
	color: white;
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: 800;
	/* Tout en capital */
}

/* //Section2// */

.client-collaboration{
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	background: #9F83BB;
}

.client-collaboration h2{
	font-size: 6vw;
	/* Passer à la roboto-bold pour un effet de gras plus marqué. -> Ne fonctionne pas je crois. */
}

.client-collaboration h3{
	display: flex;
	justify-content: center;
}

.client-collaboration .block{
	display: flex;
    flex-direction: column;
    padding: 4%;

	position: relative;
    border: 2px solid white;

	/* border: solid white; */
	/* clip-path: polygon(0 0, 90% 0, 90% 40%, 95% 50%, 90% 60%, 90% 100%, 0 100%); */
	/* background-color: red; */
	/* clip-path: polygon(0 0, 100% 0, 100% 40%, 110% 50%, 100% 60%, 100% 100%, 0 100%); */
}

.client-collaboration .block::after{
	content: '';
    position: absolute;
    top: 50%;
    right: -10px; /* Ajustez la position de la flèche */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid white; /* Taille et couleur de la flèche */
}

.client-collaboration .block-one::after{
	bottom: auto;
	right: 50%;
	transform: translateX(-50%) rotate(-90deg); /* Rotation de la flèche vers le bas */
    top: -15px;
}

.client-collaboration .block-two::after{
	top: auto;
	right: 50%;
	transform: translateX(-50%) rotate(90deg); /* Rotation de la flèche vers le bas */
    bottom: -15px;
}

.client-collaboration .block .points{
	display: flex;
	justify-content: center;
}
.client-collaboration .illustration img{
	/* max-height: 10vh;
	min-height: 10vh; */
	min-width: 85vw;
    max-width: 85vw;
}

.client-collaboration .illustration-two .content{
	display: flex;
	flex-direction: row;
}

.client-collaboration .collaboration{
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	gap: 15px;
	/* max-width: 80vw; */
	width: 85vw;
}

.client-collaboration .collaboration .maj-points{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.client-collaboration .collaboration .maj-points h3{
	color: white;
	font-weight: 900;
}

.client-collaboration .collaboration .maj-points .points{
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	/* gap: 10%; */
	padding: 0;
}

.client-collaboration .collaboration .maj-points .points .point{
	/* flex-basis: 50%; */
    box-sizing: border-box;
	width: 50%;
	
	display: flex;
	flex-direction: row;
	gap: 10%;
	margin-top: 5%;
	align-items: center;
	/* justify-content: space-between; */
}

/* .client-collaboration .collaboration .maj-points .points .point .icon{
	box-sizing: border-box;
	width: 50px;
} */

/* .client-collaboration .collaboration .maj-points .points .point span{
	font-size: 3vw;
} */

.client-collaboration .collaboration .maj-points .icon{
	width: 40px; 
	/* vh et vw pour responsive */
  	height: 40px;
  	border-radius: 50%; 
	background-color: #314d58;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

.client-collaboration .collaboration .maj-points .icon img{
	min-width: 80%;
	max-width: 80%;
}

.client-collaboration .collaboration .illustration-two{
	gap: 0;
    display: flex;
    flex-direction: column;
}

.client-collaboration .collaboration .illustration-two .content{
	display: flex;
	background: black;
	padding: 5%;
	gap: 5%;
	align-items: center;
	justify-content: center;
	/* justify-content: space-between; */
}

.client-collaboration .collaboration .illustration-two .content p{
	color: #ffda64;
	font-weight: 900;
	gap: 2px;
    display: flex;
    flex-direction: column;
	font-size: 6vw;
}

.client-collaboration .collaboration .illustration-two .content p .thin{
	color: white;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 4.5vw; 
	/* attention */
}

.client-collaboration .collaboration .illustration-two .img-content{
	height: 60px;
  	border-radius: 50%; 
	background-color: #fbce5a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.client-collaboration .collaboration .illustration-two .img-content img{
	min-width: 80%;
	min-height: 120%;
}

.client-collaboration p:last-of-type{
	color: #FAFEFF;
	text-transform: uppercase ;
	font-weight: 300;
}

/* Research, inspiration, Planning */

.research-inspiration-planning .f-part{
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 80%;
	background: #505CAB;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
	padding: 5% 10%;
	/* width: 100%; */
}

.research-inspiration-planning h2{
	color: white;
}

.research-inspiration-planning .f-part .personas{
	display: flex;
	flex-direction: column;
    gap: 15px;
}

.research-inspiration-planning .f-part .personas img{
	min-width: 70vw;
	max-width: 70vw;
}

/* secondPart */

.research-inspiration-planning .s-part{
	display: flex;
	flex-direction: column;
	/* a changer pour la version pc */
	gap: 10px;
	/* width: 100%; */
	height: 80%;
	background: #9F83BB;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
	padding: 4%;
}

.research-inspiration-planning .s-part .block{
	background: black;
	display: flex;
	flex-direction: column;
	/* row pour la version tablette/pc */
	justify-content: center;
    align-items: center;
	max-width: 90vw;
	padding: 4%;
	gap: 12px;
}

.research-inspiration-planning .s-part .block .icon{
	width: 100px; 
  	height: 100px;
	background-color: unset;
	border: 10px #4f5eaf solid;
}

.research-inspiration-planning .s-part .block .text-content{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.research-inspiration-planning .s-part .block .text-content .tip{
	display: flex;
	align-items: center;
	gap: 5%;
}

.research-inspiration-planning .s-part .block .text-content .tip p{
	font-size: 4vw;
}

.research-inspiration-planning .s-part .block .icon img{
	min-width: 70%;
    max-width: 70%;
}

.research-inspiration-planning .s-part .block-two .icon img{
	min-width: 111%;
    max-width: 111%;
}

.research-inspiration-planning .s-part .block .text-content .tip{
	display: flex;
}

.research-inspiration-planning .s-part .block .text-content .tip .icon{
	width: 120px; 
  	height: 55px;
	background-color: #A480C1;
	border: none;
}

.research-inspiration-planning .s-part .block .text-content .tip .icon img{
    min-width: 70%;
    max-width: 70%;
}

/* //Section 3// */

.design{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(#EDECE1 3px, transparent 2px),
	linear-gradient(90deg, #EDECE1 3px, transparent 2px);
    background-size: 25px 25px;
	background-color: #F7F6EB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	gap: 10px;
	padding: 4%;
}

/* .design h2{
	text-transform: uppercase;
} */

.design h3{
	font-weight: 900;
}

/* PAGE illustration */

.design .step-one{
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 4%;
    gap: 15px;
}
.design .step-one .page-illustration{
	background: #FECF75;
	min-width: 40vw;
	max-width: 60vw;
	padding: 2%;
}

.design .step-one .page-illustration .page{
	display: flex;
	flex-direction: column;
}

/* base */
.design .step-one .page-illustration .page .base{
	display: flex;
	flex-direction: row;
	background: #BFC2C9;
	justify-content: space-between;
	padding: 2%;
}

.design .step-one .page-illustration .page .base .control{
	display: flex;
	flex-direction: row;
	/* gap: 5%; */
	gap: 3px;
}
.design .step-one .page-illustration .page .base .control .round{
	/* width: 1vw;
	height: 0.5vh; */
	width: 4px;
    height: 3px;
	border-radius: 50%;
}
.design .step-one .page-illustration .page .base .control .round-red{
	background: #FF6E72;
}
.design .step-one .page-illustration .page .base .control .round-yellow{
	background: #F4D36C;
}
.design .step-one .page-illustration .page .base .control .round-green{
	background: #23BB6F;
}
.design .step-one .page-illustration .page .base .nav{
	background: #8C949A ;
	/* mieux background ou bg-color dans ce cas ? */
	width: 70%;
	/* border-radius: 10%; */
}
.design .step-one .page-illustration .page .base .cube{
	background: #758283;
	width: 5%;
	border-radius: 10%;
}

.page .full-content{
	display: flex;
	flex-direction: row;
	width: 100%;
    background: white;
	min-height: 30vh;
	/* -> LE parametre qui determine la taille moyen de la page. */
}

.page .full-content .all{
	display: flex;
	flex-direction: column;
	/* -> modifier pour séparer les 2 parties  */
	/* min-height: 40vh; */
	padding: 5%;
    width: 90%;
	gap: 3%;
	/* ? */
}

.page .full-content .all .divided{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* gap: 5%; */
}

.page .full-content .all .header{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background: #FFD167;
	/* Pas la bonne couleur */

	height: 7%;
    /* align-items: center; */
    padding: 6%;

	position: relative;
}

.arrow{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10%;
	position: absolute;
	width: 18vw;
    height: 2vh;
	z-index: 2;
}
.arrow p{
	color: white;
}
.arrow-right{
	clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
	right: 95%;
}
.arrow-left{
	clip-path: polygon(10% 0, 100% 0, 100% 50%, 100% 100%, 10% 100%, 0 50%);
	left: 95%;
}

.page .full-content .all .header .logo{
	background-color: white;
	width: 5vw;
}

.page .full-content .all .bar{
	background: grey;
	height: 6%;
}

/* Aside */
.page .full-content .all .second-content{
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* padding: 5%; */
	width: 40%;
}

.page .full-content .all .second-content .search-field{
	background: #FFD167;
	width: 100%;
	height: 10%;
	border-radius: 5%;
	display: flex;
    align-items: center;

	position: relative;
}


.page .full-content .all .second-content .content-one{
	background: grey;
	height: 4vh;
}

.page .full-content .all .second-content .social-sharing-buttons{
	display: flex;
	gap: 5%;
	justify-content: space-between;
    align-items: center;

	position: relative;
}

.page .full-content .all .second-content .button{
	background: #FFD167;
	height: 2vh;
	width: 20%;
	
}


.page .full-content .all .second-content .content-two{
	background: grey;
	height: 3vh;
	display: flex;
    align-items: center;
}

/* changement */
.page .full-content .all .ft-content .nav-system{
	background: #FFD167;
    height: 3vh;
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
}

/* MajContent */
/* Systeme de aside fonctionne pas, faire un groupe qui regroupe les 2 et faire flexD = row ou réparer le aside */
.page .full-content .all .contact-information{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 55%;
	/* display: flex;
    align-items: center; */

	position: relative;
}

/* .arroww{
	position: absolute;
	left: 0%;

	background-image: url(images/SVG/ArrowRight.svg);
	background-repeat: no-repeat;
	background-size: contain;

	display: flex;
	padding: 5%;
	justify-content: center;
	align-items: center;
} */

.page .full-content .all .contact{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.page .full-content .all .contact .pp{
	background: #FFD167;
	height: 2.5vh;
	border-radius:30%;
	width: 20%;

}

.page .full-content .all .contact .infos{
	background: #FFD167;
	height: 2.5vh;
	/* border-radius: 30%; */
	width: 80%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.page .full-content .all .content-main{
	background: #FFD167;
	height: 80%;
	width: 100%;

	position: relative;
}

.page .full-content .all .ft-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page .full-content .all .ft-content .footer{
	background: #FFD167;
    height: 3vh;
    width: 55%;
    display: flex;
    align-items: center;
    position: relative;
	/* Faire en sorte de moins repeter display flex + center (refactoring) */
}

.page .full-content .scroll{
	height: 29vh;
	/* Le mettre à 100% de la taille d'un parent qui ordone la taille de la zone de contenu. */
	width: 1vw;
	padding: 2%;
	display: flex;
	flex-direction: column;
}

.page .full-content .scroll .scroll-bar{
	background: grey;
	height: 100%;
	position: relative;
}
.page .full-content .scroll .scroll-bar .pos{
	position: absolute;
	height: 30%;
	background: yellow ;
}

/* Step-2 */

.step-two{
	display: flex;
	flex-direction: column;
	/* row en version tablette/pc */
	padding: 4%;
	gap: 10px;
	width: 85vw;
}

.step-two .presentation{
	display: flex;
	flex-direction: column;
	/* padding: 4%; */
	gap: 10px;
}

.step-two h3{
	background: #515cac;
	color: white;
	padding: 3%;
}
.step-two .presentation .steps{
	/* display: flex; */

	gap: 10px;
    display: flex;
    flex-direction: column;
}

.step-two .presentation .steps .icons{
	display: flex;
    justify-content: space-around;
	/* around ou between mais en tout cas around super bien approprié pour la version grand ecran, combiné avec la meta timeline li 33% */
}
.step-two .presentation .steps .timeline{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.step-two .presentation .steps .timeline li{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4D5EAC;
	padding: 3%;
	width: 33%;
}
.step-two .presentation .steps .timeline li p{
	color: white;
}

.step-two .presentation .steps .timeline li:first-child{
	clip-path: polygon(90% 0, 100% 45%, 90% 100%, 0 100%, 0 0);
}

.step-two .presentation .steps .timeline li:nth-child(2){
	clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 49%);
}

.step-two .presentation .steps .timeline li:last-child{
	clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 10% 49%);
}

.step-two .presentation .steps .icons .icon{
	background: #ffcf62 ;
}

.step-two .presentation .steps .icons .icon img{
	min-width: 50%;
	max-width: 50%;
}

.step-two .tip{
	display: flex;
    align-items: center;
    gap: 5%;
}

.step-two .tip .icon{
	background: #ffcf62 ;
	width: 120px;
    height: 65px;
}

.step-two .tip .icon img{
	min-width: 180%;
    max-width: 180%;
}

/* Step-3 */

.design .step-three {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 4%;
	width: 85vw;
}

.design .step-three h3{
	display: flex;
    justify-content: center;
}

.design .step-three .blocks{
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.design .step-three .blocks .block{
	background-color: #9ccc6c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10% 10% 6% 10%;
	gap: 10px;
	min-width: 70vw;
	max-width: 90vw;
}

.design .step-three .blocks .block .icon{
	width: 100px; 
  	height: 100px;
  	border-radius: 50%; 
	background-color: #8ebb63;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

/* .design .step-three .blocks .block .round{
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #8fbb62;
	min-width: 5vw;
	min-height: 5vh;
} */

.design .step-three .blocks .block .icon img{
	max-width: 80%;
	max-height: 80%;
}

/* BreakPoints */

/* X-Small */
@media (max-width: 576px ){

}

/* Small */
@media (max-width: 768px ){

}

/* Medium */
@media (min-width: 768px ){
	.research-inspiration-planning .f-part {
		gap: 30px;
	}
	.research-inspiration-planning .f-part .personas {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
	.research-inspiration-planning .f-part .personas img {
		min-width: 25vw;
		max-width: 25vw;
	}
}

/* Large */
@media (min-width: 992px ){

	h2 {
		font-weight: 900;
		text-transform: uppercase;
		font-size: 2vw;
	}

	.introduction .btm-content {
		display: flex;
		flex-direction: row;
		padding: 10% 5% 5% 4%;
		gap: 15px;
		justify-content: space-between;
	}
	.introduction .btm-content .thumbnail{
		min-width: 50vw
	}
	.introduction .title {
		min-width: 10vw;
		max-width: 45vw;
		justify-content: flex-end;
	}
	.introduction .title .w-design-p {
		font-size: 5vw;
	}
	.introduction .title .w-design-p span {
		font-size: 9vw;
	}
	.introduction .title .rounded-txt p {
		font-size: 3vw;
	}

	/* client collaboration 2nd SECTION */
	.client-collaboration .collaboration {
		flex-direction: row;
	}
	.client-collaboration .illustration img {
		min-width: 20vw;
		max-width: 85vw;
	}
	.client-collaboration .collaboration .illustration-two .content p {
		font-size: 3vw;
	}
	.client-collaboration .collaboration .illustration-two .content p .thin {
		font-size: 1.5vw;
	}

	.research-inspiration-planning .f-part {
		gap: 60px;
		padding: 5% 10% 2% 10%;
	}

	.design .step-three .blocks {
		display: flex;
		flex-direction: row;
		gap: 5%;
		align-items: center;
		justify-content: center;
	}
	.design .step-three .blocks .block {
		background-color: #9ccc6c;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 4% 4% 3% 4%;
		gap: 20px;
		min-width: 20vw;
		max-width: 20vw;
		min-height: 20vh;
    	max-height: 20vh;
	}
}

/* X-Large */
@media (min-width: 1200px ){

}

/* XX-Large */
@media (min-width: 1400px ){

}