@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Regular.ttf')
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p, h1, h2, h3, h4, span {
	font-family: Roboto;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* icon */

.icon{
	width: 100px; 
  	height: 100px;
  	border-radius: 50%; 
	background-color: #8ebb63;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

.icon img{
	min-width: 80%;
	min-height: 80%;
}

/* -> Permet d'éviter la répétition. */

/*bg-cadrillage*/
.introduction {
	background-image: linear-gradient(#EDECE1 3px, transparent 2px),
	linear-gradient(90deg, #EDECE1 3px, transparent 2px);
    background-size: 25px 25px;
	background-color: #F7F6EB;
    /* width: 100%; */
	/* 89% mobile / 100% PC ? */
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.introduction .bottom {
	display: flex;
	flex-direction: row;
}

/* //Section2// */

.client-collaboration{
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #9F83BB;
}

.client-collaboration h3{
	display: flex;
	justify-content: center;
}

.client-collaboration .bloc .points{
	display: flex;
	justify-content: center;
}

.client-collaboration .illustration img{
	/* max-height: 10vh;
	min-height: 10vh; */
	min-width: 80vw;
}

.client-collaboration .illustration-two .content{
	display: flex;
	flex-direction: row;

}

.client-collaboration .collaboration{
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
}

.client-collaboration .collaboration .maj-points{
	display: flex;
	flex-direction: column;
}

.client-collaboration .collaboration .maj-points h3{
	color: white;
	font-weight: 900;
}

.client-collaboration .collaboration .maj-points .points{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10%;
}

.client-collaboration .collaboration .maj-points .points .point{
	display: flex;
	flex-direction: row;
	gap: 10%;
}

.client-collaboration .collaboration .maj-points .icon{
	/* background-color: #314d58;
	border-radius: 50%;
	display: flex;
	justify-content: center; */
	width: 40px; 
	/* vh et vw pour responsive */
  	height: 40px;
  	border-radius: 50%; 
	background-color: #314d58;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

.client-collaboration .collaboration .maj-points .icon img{
	min-width: 80%;
	max-width: 80%;
}


.client-collaboration .collaboration .illustration-two{
	gap: 0;
    display: flex;
    flex-direction: column;
}

.client-collaboration .collaboration .illustration-two .content{
	display: flex;
	background: black;
	padding: 5%;
	gap: 5%;
	/* justify-content: space-between; */
}

.client-collaboration .collaboration .illustration-two .content p{
	color: #ffda64;
	font-weight: 900;
}

.client-collaboration .collaboration .illustration-two .content p .thin{
	color: white;
	font-weight: 400;
}

.client-collaboration .collaboration .illustration-two .img-content{
	height: 40px;
  	border-radius: 50%; 
	background-color: #fbce5a;
	display: flex;
	justify-content: center;
	align-items: center;
	/* overflow: hidden;  */
	/* position: relative; */
}

.client-collaboration .collaboration .illustration-two .img-content img{
	/* position: absolute; */
	min-width: 80%;
	min-height: 120%;
}



/* Research, inspiration, Planning */


.research-inspiration-planning .f-part{
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* width: 100%; */
	height: 80%;
	background: #505CAB;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
	padding: 4%;
}

.research-inspiration-planning .f-part .personas{
	display: flex;
	flex-direction: column;
    gap: 15px;
}

.research-inspiration-planning .f-part .personas img{
	min-width: 30vw;
}

/* secondPart */

.research-inspiration-planning .s-part{
	display: flex;
	flex-direction: column;
	/* a changer pour la version pc */
	gap: 10px;
	width: 100%;
	height: 80%;
	background: #9F83BB;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
}

.research-inspiration-planning .s-part .bloc{
	background: black;
	display: flex;
	flex-direction: row;
}

.research-inspiration-planning .s-part .bloc img{
	min-width: 10vw;
}

.research-inspiration-planning .s-part .bloc .text-content .tip{
	display: flex;
}
.research-inspiration-planning .s-part .bloc .text-content .tip img{
	/* max-width: 5vw; */
	min-width: 100%;
	min-height: 100%;
}
.research-inspiration-planning .s-part .bloc .text-content .tip .icon{
	/* background: #A480C1;
	border-radius: 50%; */
	width: 100px; 
  	height: 50px;
  	border-radius: 50%; 
	background-color: #A480C1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}


/* //Section 3// */

.design{
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* PAGE illustration */
.design .step-one{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.design .step-one .page-illustration{
	background: #FECF75;
	min-width: 40vw;
	max-width: 60vw;
	padding: 2%;
}

.design .step-one .page-illustration .page{
	display: flex;
	flex-direction: column;
}

/* base */
.design .step-one .page-illustration .page .base{
	display: flex;
	flex-direction: row;
	background: #BFC2C9;
	justify-content: space-between;
	padding: 2%;
}

.design .step-one .page-illustration .page .base .control{
	display: flex;
	flex-direction: row;
	gap: 5%;
}
.design .step-one .page-illustration .page .base .control .round{
	width: 1vw;
	height: 0.5vh;
	border-radius: 50%;
}
.design .step-one .page-illustration .page .base .control .round-red{
	background: #FF6E72;
}
.design .step-one .page-illustration .page .base .control .round-yellow{
	background: #F4D36C;
}
.design .step-one .page-illustration .page .base .control .round-green{
	background: #23BB6F;
}
.design .step-one .page-illustration .page .base .nav{
	background: #8C949A ;
	/* mieux background ou bg-color dans ce cas ? */
	width: 70%;
	/* border-radius: 10%; */
}
.design .step-one .page-illustration .page .base .cube{
	background: #758283;
	width: 5%;
	border-radius: 10%;
}

.page .full-content{
	display: flex;
	flex-direction: row;
	width: 100%;
    background: white;
	min-height: 40vh;
}

.page .full-content .all{
	display: flex;
	flex-direction: column;
	/* -> modifier pour séparer les 2 parties  */
	/* min-height: 40vh; */
	padding: 5%;
    width: 90%;
	gap: 5%;
	/* ? */
}

.page .full-content .all .divided{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.page .full-content .all .header{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background: #758283;
	/* Pas la bonne couleur */
	height: 20%;
    padding: 6%;
	
}

.page .full-content .all .header .logo{
	background-color: white;
	width: 5vw;
}

.page .full-content .all .bar{
	background: grey;
	height: 10%;
}

/* Aside */
.page .full-content .all .second-content{
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* padding: 5%; */
	width: 60%;
}

.page .full-content .all .second-content .search-field{
	background: orange;
	width: 100%;
	height: 1vh;
	border-radius: 5%;
}


.page .full-content .all .second-content .content-one{
	background: grey;
	height: 4vh;
}

.page .full-content .all .second-content .social-sharing-buttons{
	display: flex;
	gap: 5%;
}

.page .full-content .all .second-content .button{
	background: orange;
	height: 2vh;
	width: 20%;
}


.page .full-content .all .second-content .content-two{
	background: grey;
	height: 3vh;
}

.page .full-content .all .second-content .nav-system{
	background: orange;
	height: 2.5vh;

}

/* MajContent */
/* Systeme de aside fonctionne pas, faire un groupe qui regroupe les 2 et faire flexD = row ou réparer le aside */
.page .full-content .all .contact-information{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 35%;
}

.page .full-content .all .contact{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.page .full-content .all .contact .pp{
	background: orange;
	height: 2.5vh;
	border-radius:30%;
	width: 20%;

}

.page .full-content .all .contact .infos{
	background: orange;
	height: 2.5vh;
	/* border-radius: 30%; */
	width: 80%;
}

.page .full-content .all .content-main{
	background: orange;
	height: 12vh;
	width: 100%;
}

.page .full-content .all .footer{
	background: orange;
	height: 5vh;
	width: 100%;
}

.page .full-content .scroll{
	height: 55vh;
	/* Le mettre à 100% de la taille d'un parent qui ordone la taille de la zone de contenu. */
	width: 1vw;
	padding: 2%;
	display: flex;
	flex-direction: column;
	
}

.page .full-content .scroll .scroll-bar{
	background: grey;
	height: 100%;
	position: relative;
}
.page .full-content .scroll .scroll-bar .pos{
	position: absolute;
	height: 30%;
	background: yellow ;
}

/* Step-2 */

.step-two{
	display: flex;
	flex-direction: row;
	padding: 4%;
	gap: 10px;
}

.step-two .presentation{
	display: flex;
	flex-direction: column;
	padding: 4%;
	gap: 10px;
}

.step-two .presentation h3{
	background: #515cac;
	color: white;
	padding: 3%;
}
.step-two .presentation .steps{
	display: flex;
}

.step-two .presentation .steps .icons{

}

.step-two .presentation .steps .icons .icon{
	background: #ffcf62 ;
}


.step-two .presentation .steps .icons .icon img{
	min-width: 50%;
	min-height: 50%;
}



/* Step-3 */

.design .step-three {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 4%;
}

.design .step-three .blocks{
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.design .step-three .blocks .block{
	background-color: #9ccc6c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5%;
	gap: 10px;
	min-width: 60vw;
	max-width: 60vw;
}

.design .step-three .blocks .block .icon{
	width: 100px; 
  	height: 100px;
  	border-radius: 50%; 
	background-color: #8ebb63;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

/* .design .step-three .blocks .block .round{
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #8fbb62;
	min-width: 5vw;
	min-height: 5vh;
} */

.design .step-three .blocks .block .icon img{
	max-width: 80%;
	max-height: 80%;
}


