@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Regular.ttf')
}

@font-face {
	font-family: 'Roboto-bold';
	src: url('fonts/Roboto/Roboto-Bold.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p, h1, h2, h3, h4, span {
	font-family: Roboto;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* icon */

.icon{
	width: 80px;
    height: 80px;
  	border-radius: 50%; 
	background-color: #8ebb63;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

.icon img{
	min-width: 80%;
	max-width: 80%;
}

h2{
	font-weight: 900;
	text-transform: uppercase;
	font-size: 6vw;
	/* Mettre la roboto-bold */
}

.introduction {
	background-image: linear-gradient(#EDECE1 3px, transparent 2px),
	linear-gradient(90deg, #EDECE1 3px, transparent 2px);
    background-size: 25px 25px;
	background-color: #F7F6EB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 10px;
	height: 100vh;
}

.introduction .setting{
	display: flex;
    /* position: absolute; */
    position: relative;
    justify-content: flex-end;
}

.introduction .setting .paper{
	min-width: 40vw;
	max-width: 40vw;
	position: absolute;
}

.introduction .setting .crayon{
	position: absolute;
	z-index: 1;
	min-width: 12vw;
    max-width: 12vw;
    right: 6%;
}

.introduction .btm-content {
	display: flex;
	flex-direction: column;
	padding: 10% 5% 5% 4%;
	gap: 15px;
}

.introduction .title{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.introduction .title .w-design-p{
	font-family: "Roboto-bold";
	font-size: 13vw;
    font-weight: 900;
    text-transform: uppercase;
}

.introduction .title .w-design-p span{
	font-weight: 900;
    font-size: 21vw;
}

.introduction .title .rounded-txt{
	background-color: #505bb2;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
	transition: background-color 0.5s ease;
    cursor: pointer;
}
.introduction .title .rounded-txt:hover {
    background-color: #5c6bdb;
}

.introduction .title .rounded-txt p{
	color: white;
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: 800;
}

/* //Section2// */

.client-collaboration{
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	background: #9F83BB;
}

.client-collaboration h2{
	font-size: 6vw;
}

.client-collaboration h3{
	display: flex;
	justify-content: center;
}

.client-collaboration .block{
	display: flex;
    flex-direction: column;
    padding: 4%;
	position: relative;
    border: 2px solid white;
}

.client-collaboration .block::after{
	content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid white;
}

.client-collaboration .block-one::after{
	bottom: auto;
	right: 50%;
	transform: translateX(-50%) rotate(-90deg);
    top: -15px;
}

.client-collaboration .block-two::after{
	top: auto;
	right: 50%;
	transform: translateX(-50%) rotate(90deg);
    bottom: -15px;
}

.client-collaboration .block .points{
	display: flex;
	justify-content: center;
}
.client-collaboration .illustration img{
	min-width: 85vw;
    max-width: 85vw;
}

.client-collaboration .illustration-two .content{
	display: flex;
	flex-direction: row;
}

.client-collaboration .collaboration{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	width: 85vw;
}

.client-collaboration .collaboration .maj-points{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.client-collaboration .collaboration .maj-points h3{
	color: white;
	font-weight: 900;
}

.client-collaboration .collaboration .maj-points .points{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.client-collaboration .collaboration .maj-points .points .point{
    box-sizing: border-box;
	width: 50%;
	
	display: flex;
	flex-direction: row;
	gap: 10%;
	margin-top: 5%;
	align-items: center;
}

.client-collaboration .collaboration .maj-points .icon{
	width: 40px; 
  	height: 40px;
  	border-radius: 50%; 
	background-color: #314d58;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

.client-collaboration .collaboration .maj-points .icon img{
	min-width: 80%;
	max-width: 80%;
}

.client-collaboration .collaboration .illustration-two{
	gap: 0;
    display: flex;
    flex-direction: column;
}

.client-collaboration .collaboration .illustration-two .content{
	display: flex;
	background: black;
	padding: 5%;
	gap: 5%;
	align-items: center;
	justify-content: center;
}

.client-collaboration .collaboration .illustration-two .content p{
	color: #ffda64;
	font-weight: 900;
	gap: 2px;
    display: flex;
    flex-direction: column;
	font-size: 6vw;
}

.client-collaboration .collaboration .illustration-two .content p .thin{
	color: white;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 4.5vw; 
}

.client-collaboration .collaboration .illustration-two .img-content{
	height: 60px;
  	border-radius: 50%; 
	background-color: #fbce5a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.client-collaboration .collaboration .illustration-two .img-content img{
	min-width: 80%;
	min-height: 120%;
}

.client-collaboration p:last-of-type{
	color: #FAFEFF;
	text-transform: uppercase ;
	font-weight: 300;
}

/* Research, inspiration, Planning */

.research-inspiration-planning .f-part{
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 80%;
	background: #505CAB;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
	padding: 5% 10%;
}

.research-inspiration-planning h2{
	color: white;
}

.research-inspiration-planning .f-part .personas{
	display: flex;
	flex-direction: column;
    gap: 15px;
}

.research-inspiration-planning .f-part .personas img{
	min-width: 70vw;
	max-width: 70vw;
}

/* secondPart */

.research-inspiration-planning .s-part{
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 80%;
	background: #9F83BB;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
	padding: 4%;
}

.research-inspiration-planning .s-part .block{
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	max-width: 90vw;
	padding: 4%;
	gap: 20px;
	transition: background-color 0.5s ease;
}
.research-inspiration-planning .s-part .block:hover {
    background-color: rgb(22, 27, 54);
}

.research-inspiration-planning .s-part .block .icon{
	width: 100px; 
  	height: 100px;
	background-color: unset;
	border: 10px #4f5eaf solid;
}

.research-inspiration-planning .s-part .block .text-content{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.research-inspiration-planning .s-part .block .text-content .tip{
	display: flex;
	align-items: center;
	gap: 5%;
}

.research-inspiration-planning .s-part .block .text-content .tip p{
	font-size: 4vw;
}

.research-inspiration-planning .s-part .block .icon img{
	min-width: 70%;
    max-width: 70%;
}

.research-inspiration-planning .s-part .block-two .icon img{
	min-width: 111%;
    max-width: 111%;
}

.research-inspiration-planning .s-part .block .text-content .tip{
	display: flex;
}

.research-inspiration-planning .s-part .block .text-content .tip .icon{
	width: 120px; 
  	height: 55px;
	background-color: #A480C1;
	border: none;
}

.research-inspiration-planning .s-part .block .text-content .tip .icon img{
    min-width: 70%;
    max-width: 70%;
}

/* //Section 3// */

.design{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(#EDECE1 3px, transparent 2px),
	linear-gradient(90deg, #EDECE1 3px, transparent 2px);
    background-size: 25px 25px;
	background-color: #F7F6EB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	gap: 10px;
	padding: 4%;
}

.design h3{
	font-weight: 900;
}

/* PAGE illustration */

.design .step-one{
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 4%;
    gap: 15px;
}
.design .step-one .page-illustration{
	background: #FECF75;
    min-width: 50vw;
    max-width: 50vw;
    padding: 2%;
}

.design .step-one .page-illustration .page{
	display: flex;
	flex-direction: column;
}

/* base */
.design .step-one .page-illustration .page .base{
	display: flex;
	flex-direction: row;
	background: #BFC2C9;
	justify-content: space-between;
	padding: 2%;
}

.design .step-one .page-illustration .page .base .control{
	display: flex;
	flex-direction: row;
	gap: 3px;
}
.design .step-one .page-illustration .page .base .control .round{
	width: 4px;
    height: 3px;
	border-radius: 50%;
}
.design .step-one .page-illustration .page .base .control .round-red{
	background: #FF6E72;
}
.design .step-one .page-illustration .page .base .control .round-yellow{
	background: #F4D36C;
}
.design .step-one .page-illustration .page .base .control .round-green{
	background: #23BB6F;
}
.design .step-one .page-illustration .page .base .nav{
	background: #8C949A ;
	width: 70%;
}
.design .step-one .page-illustration .page .base .cube{
	background: #758283;
	width: 5%;
	border-radius: 10%;
}

.page .full-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: white;
    min-height: 75vh;
}

.page .full-content .all{
	display: flex;
	flex-direction: column;
	padding: 5%;
    width: 90%;
	gap: 3%;
}

.page .full-content .all .divided{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page .full-content .all .header{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background: #FFD167;
	height: 12%;
    padding: 6%;
	position: relative;
}
.page .full-content .all .header:hover {
    background-color: #c5982e;
}

.arrow{
	background-color: #313637;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4%;
	position: absolute;
	min-width: 90px;
    max-width: 90px;
    min-height: 60px;
    max-height: 60px;
	z-index: 2;
}
.arrow p{
	color: white;
}
.arrow-right{
	clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
	right: 95%;
}
.arrow-left{
	clip-path: polygon(10% 0, 100% 0, 100% 50%, 100% 100%, 10% 100%, 0 50%);
	left: 95%;
}

.page .full-content .all .header .logo{
	background-color: white;
	width: 12vw;
}

.page .full-content .all .bar{
	background: grey;
	height: 8vh;
}
.page .full-content .all .bar:hover {
    background-color: rgb(101, 101, 101);
}

/* Aside */
.page .full-content .all .second-content{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 40%;
}

.page .full-content .all .second-content .search-field{
	background: #FFD167;
	height: 4vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.page .full-content .all .second-content .search-field:hover {
    background-color: #c5982e;
}

.page .full-content .all .second-content .content-one{
	background: grey;
	height: 10vh;
}
.page .full-content .all .second-content .content-one:hover {
    background-color: rgb(101, 101, 101);
}

.page .full-content .all .second-content .social-sharing-buttons{
	display: flex;
	gap: 5%;
	justify-content: space-between;
    align-items: center;
	position: relative;
}

.page .full-content .all .second-content .social-sharing-buttons p{
	width: 50px;
}

.page .full-content .all .second-content .button{
	background: #FFD167;
    height: 5vh;
    width: 27%;
}
.page .full-content .all .second-content .button:hover {
    background-color: #c5982e;
}

.page .full-content .all .second-content .content-two{
	background: grey;
    height: 17vh;
    display: flex;
    align-items: center;
}
.page .full-content .all .second-content .content-two:hover {
    background-color: rgb(101, 101, 101);
}


.page .full-content .all .ft-content .nav-system{
	background: #FFD167;
    height: 6vh;
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
}
.page .full-content .all .ft-content .nav-system:hover {
    background-color: #c5982e;
}
.page .full-content .all .ft-content .nav-system p{
	width: 65px;
}

.page .full-content .all .contact-information{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 55%;
	position: relative;
}

.page .full-content .all .contact{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.page .full-content .all .contact .pp{
	background: #FFD167;
    height: 4.5vh;
    border-radius: 5px;
    width: 20%;
}
.page .full-content .all .contact .pp:hover {
    background-color: #c5982e;
}

.page .full-content .all .contact .infos{
	background: #FFD167;
	height: 4.5vh;
	width: 80%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.page .full-content .all .contact .infos:hover {
    background-color: #c5982e;
}

.page .full-content .all .content-main{
	background: #FFD167;
	height: 29vh;
	width: 100%;
	position: relative;
}
.page .full-content .all .content-main:hover {
    background-color: #c5982e;
}

.page .full-content .all .ft-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page .full-content .all .ft-content .footer{
	background: #FFD167;
    height: 6vh;
    width: 55%;
    display: flex;
    align-items: center;
    position: relative;
}
.page .full-content .all .ft-content .footer:hover {
    background-color: #c5982e;
}

.page .full-content .scroll{
	height: 74vh;
	width: 1vw;
	padding: 2%;
	display: flex;
	flex-direction: column;
}

.page .full-content .scroll .scroll-bar{
	background: grey;
	height: 100%;
	position: relative;
}
.page .full-content .scroll .scroll-bar .pos{
	position: absolute;
	height: 30%;
	background: yellow ;
}

.page .ctn{
	transition: background-color 0.5s ease;
}

/* .page .orange{
	transition: background-color 0.5s ease;
	background: red;
	width: 100vw;
}
.page .orange:hover {
    background-color: #c5982e;
} */

/* Step-2 */

.step-two{
	display: flex;
	flex-direction: column;
	padding: 4%;
	gap: 10px;
	width: 85vw;
}

.step-two .presentation{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.step-two h3{
	background: #515cac;
	color: white;
	padding: 3%;
}
.step-two .presentation .steps{
	gap: 10px;
    display: flex;
    flex-direction: column;
}

.step-two .presentation .steps .icons{
	display: flex;
    justify-content: space-around;
}
.step-two .presentation .steps .timeline{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.step-two .presentation .steps .timeline li{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4D5EAC;
	padding: 3%;
	width: 33%;
}
.step-two .presentation .steps .timeline li p{
	color: white;
}

.step-two .presentation .steps .timeline li:first-child{
	clip-path: polygon(90% 0, 100% 45%, 90% 100%, 0 100%, 0 0);
}

.step-two .presentation .steps .timeline li:nth-child(2){
	clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 49%);
}

.step-two .presentation .steps .timeline li:last-child{
	clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 10% 49%);
}

.step-two .presentation .steps .icons .icon{
	background: #ffcf62 ;
}

.step-two .presentation .steps .icons .icon img{
	min-width: 50%;
	max-width: 50%;
}

.step-two .tip{
	display: flex;
    align-items: center;
    gap: 5%;
}

.step-two .tip .icon{
	background: #ffcf62 ;
	width: 120px;
    height: 65px;
}

.step-two .tip .icon img{
	min-width: 180%;
    max-width: 180%;
}

/* Step-3 */

.design .step-three {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 4%;
	width: 85vw;
}

.design .step-three h3{
	display: flex;
    justify-content: center;
}

.design .step-three .blocks{
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
}
.design .step-three .blocks .black-banderolle{
	display: none;
}

.design .step-three .blocks .block{
	background-color: #9ccc6c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10% 10% 6% 10%;
	gap: 10px;
	min-width: 70vw;
	max-width: 90vw;
}

.design .step-three .blocks .block .icon{
	width: 100px; 
  	height: 100px;
  	border-radius: 50%; 
	background-color: #8ebb63;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden; 
}

.design .step-three .blocks .block .icon img{
	max-width: 80%;
	max-height: 80%;
}

/* BreakPoints */

/* X-Small */
/* @media (max-width: 576px ){} */

/* Small */
/* @media (max-width: 768px ){} */

/* Medium */
@media (min-width: 768px ){
	.research-inspiration-planning .f-part {
		gap: 30px;
	}
	.research-inspiration-planning .f-part .personas {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
	.research-inspiration-planning .f-part .personas img {
		min-width: 25vw;
		max-width: 25vw;
	}
}

/* Large */
/* 992 normalement */
@media (min-width: 992px ){

	h2 {
		font-weight: 900;
		text-transform: uppercase;
		font-size: 2vw;
	};

	.introduction .setting .crayon {
		min-width: 6vw;
		max-width: 6vw;
	}
	.introduction .btm-content {
		display: flex;
		flex-direction: row;
		padding: 2% 5% 2% 4%;
		gap: 15px;
		justify-content: space-between;
	}
	.introduction .btm-content .thumbnail{
		min-width: 42vw;
	}
	.introduction .title {
		min-width: 10vw;
		max-width: 45vw;
		justify-content: flex-end;
	}
	.introduction .title .w-design-p {
		font-size: 5vw;
		z-index: 1;
	}
	.introduction .title .w-design-p span {
		font-size: 9vw;
	}
	.introduction .title .rounded-txt p {
		font-size: 3vw;
	}
	.introduction p:last-of-type{
		font-size: 1.2vw;
		line-height: 1.1;
	}

	/* client collaboration 2nd SECTION */
	.client-collaboration {
		padding: 2%;
		gap: 30px;
	}
	.client-collaboration h2 {
		font-size: 3vw;
	}
	.client-collaboration .collaboration {
		flex-direction: row;
		justify-content: space-between;
	}
	.client-collaboration .illustration img {
		min-width: 25vw;
		max-width: 85vw;
	}
	.client-collaboration .collaboration .illustration-two .content p {
		font-size: 2.5vw;
	}
	.client-collaboration .collaboration .illustration-two .content p .thin {
		font-size: 1.5vw;
	}
	.client-collaboration .block-one::after {
		top: 50%;
		left: -5px;
		transform: translateX(-50%) rotate(180deg);
	}
	.client-collaboration .block-two::after {
		top: 50%;
		right: -15px;
		transform: translateX(-50%);
	}
	.client-collaboration p:last-of-type {
		font-size: 1.7vw;
	}

	/* Research inspiration planning -> SECTION */

	/* f-part */
	.research-inspiration-planning .f-part {
		gap: 60px;
		padding: 5% 10% 2% 10%;
	}
	
	/* s-part */
	.research-inspiration-planning .s-part {
		gap: 30px;
		padding: 4% 4% 4% 9%;
	}
	.research-inspiration-planning .s-part .block {
		background: #313539;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		max-width: 85vw;
		min-width: 80vw;
		padding: 2% 2% 2% 0%;
		gap: 12px;
		position: relative;
	}
	.research-inspiration-planning .s-part .block .text-content {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-left: 13%;
	}
	.research-inspiration-planning .s-part .block .text-content p:first-of-type {
		font-size: 2.5vw;
	}
	.research-inspiration-planning .s-part .block .text-content .tip {
		gap: 3%;
	}
	.research-inspiration-planning .s-part .block .text-content .tip p {
		font-size: 1.9vw;
	}
	.research-inspiration-planning .s-part .block .text-content .tip .icon {
		width: 74px;
		height: 57px;
	}
	.research-inspiration-planning .s-part .block .icon-spe {
		width: 125px;
		height: 125px;
		background-color: #313539;
		position: absolute;
		right: 91%;
	}

	/* DESIGN SECTION */

	.design h3 {
		font-size: 1.3vw;
	}

	/* step-1 */
	.design .step-one {
		gap: 30px;
	}
	.design .step-three .blocks {
		display: flex;
		flex-direction: row;
		gap: 5%;
		align-items: center;
		/* justify-content: center; */
		justify-content: space-between;
		max-width: 80vw;
	}
	.design .step-three .blocks .block {
		background-color: #9ccc6c;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 4% 2% 1% 2%;
		gap: 30px;
		min-width: 20vw;
		max-width: 20vw;
		min-height: 20vh;
    	max-height: 20vh;
	}
	.page .full-content .all {
		padding: 2%;
	}
	.page .full-content {
		min-height: 80vh;
	}
	.design .step-one .page-illustration {
		min-width: 63vw;
		max-width: 60vw;
		padding: 2%;
	}
	.arrow {
		/* max-width: 154px;
		min-width: 293px; */
		max-width: 130px;
    	min-width: 180px;
		max-height: 30px;
		min-height: 30px;
		padding: 3%;
	}
	.page .full-content {
		min-height: 80vh;
	}
	.page .full-content .all .header {
		height: 15%;
	}
	.page .full-content .all .bar {
		height: 7%;
	}
	.page .full-content .all .content-main {
		height: 18vh;
	}
	.page .full-content .all .second-content .content-one {
		height: 10vh;
	}
	.page .full-content .all .second-content .content-two {
		height: 9vh;
	}
	.page .full-content .all .second-content .social-sharing-buttons p {
		width: auto;
	}
	.page .full-content .all .ft-content .nav-system p {
		width: auto;
	}
	.design .step-one .page-illustration .page .base .control {
		display: flex;
		flex-direction: row;
		gap: 15px;
	}
	.design .step-one .page-illustration .page .base .control .round {
		width: 13px;
		height: 12px;
		border-radius: 50%;
	}

	/* step-2 */
	.step-two {
		flex-direction: row;
		justify-content: center;
		padding: 1%;
	}
	.step-two img:first-of-type{
		min-width: 34vw;
		max-width: 34vw;
	}
	.step-two .presentation {
		gap: 40px;
	}
	.step-two .tip .icon {
		width: 100px;
		height: 65px;
	}
	.step-two .tip {
		margin-left: 25%;
	}

	/* step-three */
	.design .step-three {
		gap: 45px;
	}
	.design .step-three .blocks {
		position: relative;
	}
	.design .step-three .blocks .black-banderolle{
		background-color: #313637;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 90%;
		width: 98%;
		padding: 1%;
	}
	.design .step-three .blocks .black-banderolle::after {
		content: '';
    	position: absolute;
    	left: 13%;
    	bottom: -20px;
    	width: 0;
    	height: 0;
    	border-left: 15px solid transparent;
    	border-right: 15px solid transparent;
    	border-top: 20px solid #313637;
	}
	.design .step-three .blocks .black-banderolle::after:nth-of-type(2) {
		left: 50%;
	}
	.design .step-three .blocks .black-banderolle::after:nth-of-type(3) {
		left: 75%;
	}
	.black-banderolle p{
		color: white;
		font-size: 2vw;
		text-transform: uppercase;
	}
}

/* X-Large */
@media (min-width: 1200px ){
	.research-inspiration-planning .s-part {
		gap: 75px;
		/* gap: 40px; */
		flex-direction: row;
		justify-content: space-around;
		padding: 3% 3% 3% 7%;
	}
	.research-inspiration-planning .s-part .block {
		max-width: 40vw;
		min-width: 40vw;
		padding: 1% 1% 1% 0%;
		max-height: 12vh;
		min-height: 12vh;
	}

	.research-inspiration-planning .s-part .block .icon-spe {
		width: 140px;
		height: 140px;
		position: absolute;
		right: 87%;
		transition: background-color 0.5s ease;
	}
	.research-inspiration-planning .s-part .block:hover .icon-spe {
		background-color: rgb(22, 27, 54);
	}
	.research-inspiration-planning .s-part .block .text-content p:first-of-type {
		font-size: 1.5vw;
	}
	.research-inspiration-planning .s-part .block .text-content .tip p {
		font-size: 1vw;
	}
	.research-inspiration-planning .s-part .block .text-content {
		margin-left: 16%;
	}

	/* Design section */
	
	.page .full-content .all .header .logo {
		width: 7vw;
	}
	.page .full-content .all .header {
		padding: 2%;
		position: relative;
		height: 11vh;
	}
	.page .full-content .all .bar {
		height: 9%;
	}
	.page .full-content .all .contact .pp {
		height: 3.5vh;
		border-radius: 10px;
	}
	.page .full-content .all .contact .infos {
		height: 3.5vh;
		width: 85%;
	}
	.page .full-content .all .content-main {
		height: 33vh;
	}
	.page .full-content .all .ft-content .footer {
		height: 7vh;
	}
	.page .full-content .all .second-content .search-field {
		height: 7%;
		border-radius: 20px;
	}
	.page .full-content .all .second-content .content-one {
		height: 10vh;
	}
	.page .full-content .all .second-content .button {
		height: 8vh;
		width: 20%;
	}
	.page .full-content .all .second-content .content-two {
		height: 20vh;
	}
	.page .full-content .all .ft-content .nav-system {
		height: 7vh;
		width: 40%;
	}
}

/* XX-Large */
/* @media (min-width: 1400px ){} */